<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Gracinha- Calculadora de sensi</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>

      <!--Barra lateral-->
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Jogos</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="fortnite.html">Fortnite</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Counter Strike 2</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="valorant.html">Valorant</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Rainbow Six</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">PUBG</a>
                </div>
            </div>
     <!--Barra lateral-->


     <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                </nav>
                <!-- Page content-->          
                   <h1 class="nomejogadores">Jogadores</h1>
                   <h3>Lulu</h3>
                   <h3>Bleble</h3>
                   <a href="persa.html"><h3>Liquid Persa </h3></a>
                   <a href="teuzz.html"><h3>Liquid Teuz</h3></a>
                   <h3>Thome</h3>
                   <h3>Master</h3>
                   <h3>Liquid Pulga</h3>
                   <h3>Suetam</h3>
                   <h3>Hero Gon</h3>
                   <h3>Loud Night</h3>
                   <h3>Loud KingBR</h3>
                   <h3>Loud Digueira</h3>
                   <h3>Loud Gabzera</h3>
                   <h3>Hero Zenon</h3>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
