<form action="/teuzz" method="POST">
  <fieldset>
      <h1 class="t1center">Calculadora Da Gracinha Máxima</h1>
      <h1 class="textbleble">Vamos calcular a proporção da sua sensi com a Liquid Teuzz</h1>
      <div class="socorro">
          <label for="input1">Digite Sua DPI:</label>
          <input type="number" class="input1" id="input1" name="teuzzdpi" required>
          <br>

          <label for="input2">Digite Seu X e seu Y:</label>
          <input type="number" class="input2" id="input2" name="teuzzxy" required>
          <br>

          <label for="input3">Esse é o seu novo X e Y:</label>
          <input type="text" class="input3" id="input3" value="{{ teuzz_sensi or '' }}" readonly>

          <h3 class="Dpible">Levando em consideração que a dpi do Teuzz é: 800dpi</h3>
      </div>

      <div class="socorro2">
          <button type="reset" class="btn_resetar">Resetar</button>
          <button type="submit" class="btn_calc" id="btn_calc">Calcular</button>
      </div>
  </fieldset>
</form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
      <ul class="alert alert-danger">
          {% for message in messages %}
              <li>{{ message }}</li>
          {% endfor %}
      </ul>
  {% endif %}
{% endwith %}
