<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Gracinha- Calculadora de sensi</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>

      <!--Barra lateral-->
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Jogos</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Fortnite</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Counter Strike 2</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Valorant</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Rainbow Six</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">PUBG</a>
                </div>
            </div>
     <!--Barra lateral-->


     <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                     
                        
                </nav>
                <!-- Page content-->          
<form action="/calc_persa" method="POST">
  <fieldset>
    <h1 class="t1center">Calculadora Da Gracinha Máxima</h1>
    <h1 class="textbleble">Vamos calcular a proporção da sua sensi com a Liquid Teuzz</h1>
    <div class="socorro">
      <label for="input1">Digite Sua DPI:</label>
      <input type="number" placeholder="" class="input1" id="input1" name="persadpi" required>
      <br>

      <label for="input2">Digite Seu X e seu Y:</label>
      <input type="number" placeholder="" class="input2" id="input2" name="persaxy" required>
      <br>

      <label for="input3">Esse é o seu novo X e Y:</label>
      <input type="number" placeholder="" class="input3" id="input3" name="persasensi" readonly>

      <h3 class="Dpible">Levando em consideração que a dpi do Teuzz é: 3580dpi</h3>
    </div>

    <div class="socorro2">
      <button type="reset" class="btn_resetar">Resetar</button>
      <button type="submit" class="btn_calc" id="btn_calc">Calcular</button>
    </div>
  </fieldset>
</form>
    
                   
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
