/*Inicio index*/
.H1TEXTO{
    display: flex;
    text-align: left;
    justify-content: left;
    font-size: 40px;
    color: brown;
}

.t1center{
text-align: center;
}

.ulcenter{
    font-size: 20px;
}

.socorro{
    font-size: medium;
    text-align: center;
    justify-content: center;


}

.socorro label{
    font-size: 30px;
}

.socorro input{
    width: 200px;
    height: 30px;
}

.socorro2{
    text-align: center;
    justify-content: center;
    font-size: medium;
    padding-top: 30px;
    padding-left: 30px;
}

.btn_calc{
    border-radius: 30px;
    background-color: white;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.btn_resetar{
    border-radius: 30px;
    background-color: white;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/*Final index*/